  * {
  margin: 0px;
  padding: 0px;
}

#c {
height: 1200px;
width: 700px;
background-image: url(back.jpg);
background-size: cover;
display: block;
margin: auto;
border-bottom-right-radius: 100px;
border-bottom-left-radius: 100px;
border-top-right-radius: 100px;
border-top-left-radius: 100px;
margin-top: 400px;

}
input {
  margin: auto;
  height: 70px;
  width: 600px;
  margin-left: 55px;
  font-size: 30px;
border-bottom-right-radius: 100px;
border-bottom-left-radius: 100px;
border-top-right-radius: 100px;
border-top-left-radius: 100px;
margin-top: 140px;
background-color: transparent;
padding-left: 20px;
}
#input2 {
  margin-top: 50px;
}
#input3 {
  margin-top: 50px;
}
#A1 {
text-align: center;
font-size: 100px;
padding-top: 150px;
}
#A2 {
  font-size: 50px;
  height: 80px;
  width: 200px;
margin-top: 150px;
text-align: center;
margin-left: 260px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
border-top-right-radius: 30px;
border-top-left-radius: 30px;
background-color: rgb(173, 216, 230);
color: white;
}
p {
  font-size: 35px;
  text-align: center;
}
a {
  text-decoration: none;
  color: aqua;
}
#a1 {
  color: white;
}